<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>~Log Server~</title>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css">
    <style type="text/css">
        .edit-mode {
            background-color: #8DBE5A;
            font-weight: bold;
            font-size: 12px;
            color: white;
            display: inline-block;
            width: 100px;
            line-height: 24px;
            text-align: center;
        }
        .editing {
            background-color: cornflowerblue;
            color: white;
        }
        .choice_button {
            height: 24px;
            width: 48px;
            font-size: 12px;
            font-weight: bold;
        }
        .main {
            border: 1px solid black;
            margin: 0 auto;
            width: 600px;
            height: auto;
            background-color: white;
        }
        .buttons_top {
            /*border: 1px solid black;*/
            padding-top: 10px;
            display: inline-block;
            margin-left: 315px;
            height: 35px;
        }
        .log_name_top {
            /*border: 1px solid black;*/
            padding-top: 30px;
            display: inline-block;
            margin-left: 30px;
            font-size: small;
            line-height: 15px;
        }
        .buttons_bottom {
            /*border: 1px solid black;*/
            padding-top: 2px;
            padding-bottom: 10px;
            display: inline-block;
            margin-left: 30px;
        }
        .main_title {
            background-color: blueviolet;
            font-size: 24px;
            font-weight: bold;
            color: white;
            margin: 10px auto;
            line-height: 40px;
            text-align: center;
        }
        .log {
            color: blue;
            cursor: pointer;
        }
        .hide {
            display: none;
        }
    </style>
</head>
<body>

<div class="main">
    <div class="main_title">串口服务器日志</div>
    <div id="logs_table" class="hide">
        <div id="log_name" class="log_name_top log" onclick="ReturnMainTable();">返回日志目录</div>
        <div>
            <table border="1" style="text-align: center; margin: auto; font-size: 14px">
                <thead>
                    <tr>
                        <th style="width: 60px">id</th>
                        <th style="width: 200px">日志文件</th>
                        <th style="width: 200px">文件大小</th>
                        <th style="width: 80px">下载</th>
                    </tr>
                </thead>
                <tbody id="log_tbl"></tbody>
            </table>
        </div>
    </div>
    <div id="main_table">
        <div class="buttons_top">
            <input class="choice_button" type="button" value="全选" onclick="CheckAll('#edit_mode','#tbl');">
            <input class="choice_button" type="button" value="反选" onclick="CheckReverse('#edit_mode','#tbl');">
            <input class="choice_button" type="button" value="取消" onclick="CheckCancel('#edit_mode','#tbl');">
            <input type="button" value="进入编辑模式" id="edit_mode" class="edit-mode" onclick="EditMode(this,'#tbl');">
        </div>
        <div>
            <table border="1" style="text-align: center; margin: auto; font-size: 14px">
                <thead>
                    <tr>
                        <th style="width: 60px">选择</th>
                        <th style="width: 200px">串口日志</th>
                        <th style="width: 200px">备注名</th>
                        <th style="width: 80px">地点</th>
                    </tr>
                </thead>
                <tbody id="tbl">
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><span class="log" onclick="ShowDirectory(this);">10.0.21.101_5000</span></td>
                        <td edit="true">JHSBMCS1</td>
                        <td edit="true" edit-type="select" sel-val="1" global-key="LOCATION">北京</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><span class="log">10.2.39.240_5100</span></td>
                        <td edit="true">JGSBMCS4</td>
                        <td edit="true" edit-type="select" sel-val="2" global-key="LOCATION">天津</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><span class="log">10.8.20.195_5400</span></td>
                        <td edit="true">WYSBMCS2</td>
                        <td edit="true" edit-type="select" sel-val="3" global-key="LOCATION">昆山</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="buttons_bottom">-->
            <!--<input class="choice_button" type="button" onclick="AddLine('#tbl');" value="添加">-->
            <!--<input class="choice_button" type="button" onclick="DeleteLine('#tbl');" value="删除">-->
            <!--<input class="choice_button" type="button" onclick="InsertLine('#tbl');" value="插入">-->
        <!--</div>-->
    </div>
</div>

{#<a href="http://192.168.116.129:81/log/10.0.21.101_5000/2018-10-26.txt" target="_blank">2018-10-26.txt</a>#}
{#<a href="https://nt.80txt.com/16627/诛仙2.txt" target="_blank">2018-10-26.txt</a>#}


<script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script>
    $(function () {
        // 页面加载时 为checkbox绑定click事件
        BindSingleCheck("#edit_mode","#tbl");
        // 调用全局变量 使用LOCATION或者使用window["LOCATION"]
        LOCATION = [
            {"id":"1", "value":"北京"},
            {"id":"2", "value":"天津"},
            {"id":"3", "value":"昆山"},
            {"id":"4", "value":"未知"}
        ];
        // 新建行的标签
        NEW_TR = '<tr><td><input type="checkbox"></td><td edit="true"></td><td edit="true"></td><td edit="true" edit-type="select" sel-val="3" global-key="LOCATION"></td></tr>';
        // 键盘按键
        window.globalCtrlKeyPress = false;
        window.onkeydown = function (event) {
        if(event.key == "Control"){
            window.globalCtrlKeyPress = true;
            // console.log("Press Control");
            }
        };
        window.onkeyup = function (event) {
        if(event.key == "Control"){
            window.globalCtrlKeyPress = false;
            // console.log("Leave Control");
            }
        };
        // 日志目录
        LOG_URL = "http://192.168.116.129:81/log/"

    });

    setInterval("string_rolling('title')",500);

    function string_rolling(tag) {
        var _id = $(tag);
        var text = _id.text();
        var firstText = text.charAt(0);
        var subText = text.substring(1,text.length);
        _id.text(subText+firstText);
    }

    // 若处于编辑模式 点击checkbox 该行将进入编辑模式
    function BindSingleCheck(mode,tb) {
        // delegate 调用时才绑定; bind 开始就绑定
        // $(tb).find("input[type='checkbox']").bind("click", function () {
        $(tb).delegate("input[type='checkbox']","click", function () {
            var _tr = $(this).parent().parent();
            if($(mode).hasClass('editing')){
                if($(this).prop("checked")){
                    RowIntoEdit(_tr);
                }else{
                    RowOutEdit(_tr);
                }
            }
        });
    }

    function EditMode(ths,tb) {
        var isEdit = $(ths).hasClass("editing");
        if(isEdit){
            $(ths).attr("value","进入编辑模式");
            $(ths).removeClass("editing");
            $(tb).children().each(function () {
                var _tr = $(this);
                var check_box = _tr.children().first().find("input[type='checkbox']");
                if(check_box.prop("checked")){
                    RowOutEdit(_tr);
                }
            });
        }else{
            $(ths).attr("value","退出编辑模式");
            $(ths).addClass("editing");
            $(tb).children().each(function () {
                var _tr = $(this);
                var check_box = _tr.children().first().find("input[type='checkbox']");
                if(check_box.prop("checked")){
                    RowIntoEdit(_tr);
                }
            });
        }
    }

    function CheckAll(mode,tb) {
        // mode = "#edit_mode" a标签的id; tb = "#tbl" table的id
        if($(mode).hasClass('editing')){
            // 选中所有的checkbox 并将所有行处理成进入编辑模式
            $(tb).children().each(function () {
                var _tr = $(this);
                var check_box = _tr.children().first().find("input[type='checkbox']");
                if(!check_box.prop("checked")){
                    check_box.prop("checked",true);
                }
                // 让这一行进入编辑模式  参数:选择器当前行
                RowIntoEdit(_tr);
            })
        }else{
            // ":checkbox" 等同于 "input[type='checkbox']"
            $(tb).find("input[type='checkbox']").prop("checked",true);
        }
    }

    function CheckReverse(mode,tb) {
        if($(mode).hasClass("editing")){
            $(tb).children().each(function () {
                var _tr = $(this);
                var check_box = _tr.children().first().find("input[type='checkbox']");
                if(check_box.prop("checked")){
                    check_box.prop("checked",false);
                    RowOutEdit(_tr);
                }else{
                    check_box.prop("checked",true);
                    RowIntoEdit(_tr);
                }
            })
        }else{
            $(tb).find("input[type='checkbox']").each(function () {
                var isChecked = $(this).prop("checked");
                if(isChecked){
                    $(this).prop("checked",false);
                }else{
                    $(this).prop("checked",true);
                }
            });
        }
    }

    function CheckCancel(mode,tb) {
        if($(mode).hasClass("editing")){
            $(tb).children().each(function () {
                var _tr = $(this);
                var check_box = _tr.children().first().find("input[type='checkbox']");
                if(check_box.prop("checked")){
                    check_box.prop("checked",false);
                }
                RowOutEdit(_tr);
            })
        }else{
            $(tb).find("input[type='checkbox']").prop("checked",false);
        }
    }

    function RowIntoEdit(_tr) {
        // 普通内容 创建input; 选择 创建select
        _tr.children().each(function () {
            // $(this) 当前的元素 td
            if($(this).attr("edit") == "true"){
                if($(this).attr("edit-type") == "select"){
                    var _td = $(this);
                    var select_val = $(this).attr("sel-val");
                    var global_key = $(this).attr("global-key");
                    var select_tag = CreateSelect(_td,select_val,global_key);
                    _td.html(select_tag);

                }else{
                    var orgin_value = $(this).text();
                    var temp = "<input type='text' value='" + orgin_value + "'/>";
                    $(this).html(temp);
                }
            }
        });
    }

    function RowOutEdit(_tr) {
        _tr.children().each(function () {
            if($(this).attr("edit") == "true"){
                if($(this).attr("edit-type") == "select"){
                    var _td = $(this);
                    var _id = _td.children().val();
                    $.each(LOCATION, function (index,value) {
                        if(value["id"] == _id){
                            temp = value["value"];
                        }
                    });
                    _td.html(temp);
                }else{
                    var text_input = $(this).find("input[type='text']");
                    var _value = text_input.val();
                    $(this).html(_value);
                }
            }
        });
    }

    function CreateSelect(_td,select_val,global_key) {
        // 创建select标签
        var _array = window[global_key];
        var temp = "<select>";
        $.each(_array, function (index,value) {
            var _id = value["id"];
            var _value = value["value"];
            if(value["id"] == select_val){
                temp = temp + "<option value=" + _id + " selected='selected'>" + _value + "</option>";
            }else{
                temp = temp + "<option value=" + _id + ">" + _value + "</option>";
            }
        });
        temp = temp + "</select>";
        return temp;
    }

    function AddLine(tb) {
        /* 使用clone方式 当无标签时 无法实现增加新的一行
        var last_tr = $(tb).children().last();
        var new_tr = last_tr.clone(true);
        new_tr.children().eq(0).children().prop("checked",false);
        for(var i=1;i<=3;i++){
            new_tr.children().eq(i).html("");
        }
        new_tr.insertAfter(last_tr);*/
        $(tb).append(NEW_TR);
    }

    function DeleteLine(tb) {
        var flag = false;
        $(tb).children().each(function () {
            var _tr = $(this);
            var check_box = _tr.children().first().find("input[type='checkbox']");
            if(check_box.prop("checked")){
                _tr.remove();
                flag = true;
            }
        });
        if(!flag){
            alert("请选择要删除的行!");
        }
    }

    function InsertLine(tb) {
        var flag = false;
        $(tb).children().each(function () {
            var _tr = $(this);
            var check_box = _tr.children().first().find("input[type='checkbox']");
            if(check_box.prop("checked")){
                if(window.globalCtrlKeyPress){
                    // 插入时 如果按住Control键 选取的行的内容将被插入
                    _tr.clone(true).insertAfter(_tr);
                }else{
                    _tr.after(NEW_TR);
                }
                flag = true;
            }
        });
        if(!flag){
            alert("请选择要插入的位置!");
        }
    }

    function ShowDirectory(ths) {
        var name = $(ths).text();
        console.log(name, typeof(name));
        $.ajax({
            url: "/LogServer/",
            data: {
                "name": name
            },
            type: "POST",
            success: function (data) {
                console.log(data);
                $.each(data, function (k,v) {
                    if(k=="log_list"){
                        var num = v.length;
                        if(Boolean(num)){
                            temp_table = "";
                            $.each(v,function (kk,vv) {
                                var index = kk+1;
                                var log_name = vv[0];
                                var size = vv[1];
                                var td0 = '<td>' + index + '</td>';
                                var temp_a = '<a target="_blank" style="text-decoration-line: none" href=\"' + LOG_URL + name + '/' + log_name + '\">';
                                var td1 = '<td>' + temp_a + log_name + '</a></td>';
                                console.log(td1);
                                var td2 = '<td>' + size + '</td>';
                                var td3 = '<td>' + '<span class="ui-icon ui-icon-arrowthickstop-1-s"></span>' + '</td>';
                                var temp = '<tr>' + td0 + td1 + td2 + td3 +'</tr>';
                                temp_table += temp;
                            });
                        }
                    }
                });
                $("#log_tbl").html(temp_table);
                $("#main_table").addClass("hide");
                $("#logs_table").removeClass("hide");
            },
            error: function (data) {
                console.log("error: " + data);
                alert("Error");
            }
        });
    }

    function ReturnMainTable() {
        $("#logs_table").addClass("hide");
        $("#main_table").removeClass("hide");
    }



</script>
</body>
</html>